code .hll { background-color: #ffc; }
code .c { color: #999; } /* Comment */
code .err { color: #a00; background-color: #faa } /* Error */
code .k { color: #069; } /* Keyword */
code .o { color: #555 } /* Operator */
code .cm { color: #09f; font-style: italic } /* Comment.Multiline */
code .cp { color: #099 } /* Comment.Preproc */
code .c1 { color: #999; } /* Comment.Single */
code .cs { color: #999; } /* Comment.Special */
code .gd { background-color: #fcc; border: 1px solid #c00 } /* Generic.Deleted */
code .ge { font-style: italic } /* Generic.Emph */
code .gr { color: #f00 } /* Generic.Error */
code .gh { color: #030; } /* Generic.Heading */
code .gi { background-color: #cfc; border: 1px solid #0c0 } /* Generic.Inserted */
code .go { color: #aaa } /* Generic.Output */
code .gp { color: #009; } /* Generic.Prompt */
code .gs { } /* Generic.Strong */
code .gu { color: #030; } /* Generic.Subheading */
code .gt { color: #9c6 } /* Generic.Traceback */
code .kc { color: #069; } /* Keyword.Constant */
code .kd { color: #069; } /* Keyword.Declaration */
code .kn { color: #069; } /* Keyword.Namespace */
code .kp { color: #069 } /* Keyword.Pseudo */
code .kr { color: #069; } /* Keyword.Reserved */
code .kt { color: #078; } /* Keyword.Type */
code .m { color: #f60 } /* Literal.Number */
code .s { color: #d44950 } /* Literal.String */
code .na { color: #4f9fcf } /* Name.Attribute */
code .nb { color: #366 } /* Name.Builtin */
code .nc { color: #0a8; } /* Name.Class */
code .no { color: #360 } /* Name.Constant */
code .nd { color: #99f } /* Name.Decorator */
code .ni { color: #999; } /* Name.Entity */
code .ne { color: #c00; } /* Name.Exception */
code .nf { color: #c0f } /* Name.Function */
code .nl { color: #99f } /* Name.Label */
code .nn { color: #0cf; } /* Name.Namespace */
code .nt { color: #2f6f9f; } /* Name.Tag */
code .nv { color: #033 } /* Name.Variable */
code .ow { color: #000; } /* Operator.Word */
code .w { color: #bbb } /* Text.Whitespace */
code .mf { color: #f60 } /* Literal.Number.Float */
code .mh { color: #f60 } /* Literal.Number.Hex */
code .mi { color: #f60 } /* Literal.Number.Integer */
code .mo { color: #f60 } /* Literal.Number.Oct */
code .sb { color: #c30 } /* Literal.String.Backtick */
code .sc { color: #c30 } /* Literal.String.Char */
code .sd { color: #c30; font-style: italic } /* Literal.String.Doc */
code .s2 { color: #c30 } /* Literal.String.Double */
code .se { color: #c30; } /* Literal.String.Escape */
code .sh { color: #c30 } /* Literal.String.Heredoc */
code .si { color: #a00 } /* Literal.String.Interpol */
code .sx { color: #c30 } /* Literal.String.Other */
code .sr { color: #3aa } /* Literal.String.Regex */
code .s1 { color: #c30 } /* Literal.String.Single */
code .ss { color: #fc3 } /* Literal.String.Symbol */
code .bp { color: #366 } /* Name.Builtin.Pseudo */
code .vc { color: #033 } /* Name.Variable.Class */
code .vg { color: #033 } /* Name.Variable.Global */
code .vi { color: #033 } /* Name.Variable.Instance */
code .il { color: #f60 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
