/
  Target for toggling the sidebar `.sidebar-checkbox` is for regular
  styles, `#sidebar-checkbox` for behavior.
%input#sidebar-checkbox.sidebar-checkbox{:type => "checkbox"}
  / Toggleable sidebar
#sidebar.sidebar
  .sidebar-item
    %p
      = config[:site][:description]
  %nav.sidebar-nav
    - if item.path == '/'
      .sidebar-nav-item.active
        = link_to "Home", config[:site][:baseURL]
    - else
      .sidebar-nav-item
        = link_to "Home", config[:site][:baseURL]
    /
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.

    -# {% assign pages_list = site.pages | sort:"url" %}
    -# {% for node in pages_list %}
    -# {% if node.title != null %}
    -# {% if node.layout == "page" %}
    -# %a.if.endif{:class => "sidebar-nav-item{% page.url == node.url %} active{% %}", :href => "{{ node.url }}"} {{ node.title }}
    -# {% endif %}
    -# {% endif %}
    -# {% endfor %}
  .sidebar-item
    %p
      \&copy;
      = Date.today.year.to_s
      All rights reserved.
